/* Color pallete:  https://colorhunt.co/palette/1d2b537e2553ff004dfaef5d */
/* Font: https://fonts.google.com/selection  */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    min-width: 530px;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;

    
}

header{
    padding: 20px 0;
    
    display: flex;
    
    background-color: #1D2B53;
    color: whitesmoke;
    box-shadow: rgb(213, 217, 217) 0 2px 5px 0;
    
    user-select: none;
    -webkit-user-select: none;
}

header h1{
    margin: 0 auto;

    font-weight: 400;
}

section{
    padding-top: 50px;
    margin-bottom: 50px;
}

section .top{
    padding-bottom: 10px;
    
    font-size: 16px;
    
    user-select: none;
    -webkit-user-select: none;
}

section table{
    margin: auto;
    border: solid black 4px;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
    margin-bottom: 20px;
}


table tr td{
    user-select: none;
    -webkit-user-select: none;
    border-bottom: solid 1px;
    border-left: solid black 1px;
}

table tr:nth-child(3n) td
{
    border-bottom: solid black 3px; 
}

table tr td:nth-child(3n+1)
{
    border-left: solid black 3px;
}

table tr td input{
    width: 50px;
    height: 50px;
    border: 0px;
    background-color: transparent;

    font-family: "Arvo", serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    
}

table tr td input:focus{
    outline: none;
}

table tr td .pre-filled {
    color: rgb(24, 24, 24);
    font-size: 30px;
    text-align: center;
}

table tr .focused{
    background-color: #1d2b531e;
}

.wraper{
    margin: 0 auto;
    max-width: 520px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg{
    min-height: 19px;
    
    display: flex;
    justify-content: center;
    
    font-weight: bold;
    font-size: larger;
}
.msg p{
    margin: 0;
}

.succ{
    color: #82DD55;
}

.err{
    color: #FF004D;
}

.reset-btn{
    margin-right: 10px;
}

.btn-tupple{
    user-select: none;
    -webkit-user-select: none;
}

.hide{
    visibility: hidden;
}

/* TODO: Addapt buttons to mobile (bigger font) */
/* Button style from: https://getcssscan.com/css-buttons-examples */
.btn-styled {
  padding: 0 8px 0 11px;
  min-width: 100px;
  background-color: #fff;
  
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  cursor: pointer;

  font-family: "Arvo", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  
  touch-action: manipulation;
}

.btn-styled:hover {
  background-color: #f7fafa;
}

.btn-styled:focus {
  border-color: #1d2b5375;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

footer{
    margin-top: auto;
    border-top: 1px solid #d5d9d9;
    text-align: center;
}
footer p{
    padding: 30px 0 25px 0;
    margin: auto;
    font-weight: bold;
    color: #1D2B53;
}

/* Snackbar */
/* Source: https://www.w3schools.com/howto/howto_js_snackbar.asp */
.snackbar {
    visibility: hidden;
    padding: 20px 30px;
    min-width: 250px;
    background-color: #fff;

    border: 1px solid #d5d9d9;
    border-radius: 20px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%);
    
    text-align: center;
    font-size: 17px;

    user-select: none;
    -webkit-user-select: none;
}
  
.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 12%; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 12%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 12%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 12%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Simple Loader */
/* Source: https://cssloaders.github.io/ */
.loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    
    border: 6px solid #1D2B53;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.rip-api-err{
    font-size: larger;
    text-align: center;
}

.f-middle{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}